/* website  */

.button {
    position: absolute;
}


/* available-drinks */

.owl-theme .owl-carousel .owl-page.active {}

.owl-carousel .owl-stage {
    height: 100px;
    width: auto;
}

.ingredient-select {
    width: 50px;
    height: 50px;
}

.ingredient-select:hover {
    background-color: red;
    border: 2px solid red;
    width: 70px;
    height: 70px;
}

.ingredient-select img [data-is-selected="true"]::after {
    content: "🤚";
    align-content: center;
}

.ingredient-select img[data-is-selected="false"]::after {
    /* none */
}


/* suggested-cocktails */

.suggested-drinks-height {
    height: 16rem;
}


/* mixing-instructions */


/* add-drinks section */



/* end add-drinks section */
.subtitle-js {
    font-size: 1.99vw;
    color: crimson;
    font-style: italic;
}

.md\:text-xl {
    color: blue;
    font-size: 1.25rem;
    margin-block: auto;
    transform: rotateY( 45deg);
}

.md\:w-3\/4 {
    width: 75%;
    background: skyblue;
}

p {
    font-weight: bolder;
    font-style: italic;
    color: crimson;
}