.suggested-drinks-height {
    height: 16rem;
}


/* website  */

.button {
    position: absolute;
}


/* available-drinks */

.owl-theme .owl-carousel .owl-page.active {}

.owl-carousel .owl-stage {
    height: 100px;
    width: auto;
}

.ingredient-select {
    width: 100px;
    height: 100px;
}

.ingredient-select:hover {
    background-color: red;
    /* width: 70px;
    height: 70px; */
}

.ingredient-select[data-is-selected="true"] {
    border: 2px solid black;
}

.ingredient-select[data-is-selected="false"] {
    border-style: none;
}


/* suggested-cocktails */

.suggested-drinks-height {
    height: 16rem;
}


/* mixing-instructions */


/* add-drinks */

.subtitle-js {
    font-size: 1.99vw;
    color: crimson;
    font-style: italic;
}

.md\:text-xl {
    color: blue;
    font-size: 1.25rem;
    margin-block: auto;
    transform: rotateY( 45deg);
}

.md\:w-3\/4 {
    width: 75%;
    background: skyblue;
}

p {
    font-weight: bolder;
    font-style: italic;
    color: crimson;
}